dotnet/HelloWorld/HelloWorld/.vscode
dotnet/HelloWorld/HelloWorld/obj
dotnet/HelloWorld/HelloWorld/bin
dotnet/MVC/practice1/WebCalculate/.vscode
dotnet/MVC/practice1/WebCalculate/bin
dotnet/MVC/practice1/WebCalculate/obj

dotnet/MVC/AspNetMvcNorthwindDemo/.vscode
dotnet/MVC/AspNetMvcNorthwindDemo/AspNetMvcNorthwindDemo/bin
dotnet/MVC/AspNetMvcNorthwindDemo/AspNetMvcNorthwindDemo/obj

dotnet/Blazorwasm/practice1/.vscode
dotnet/Blazorwasm/practice1/bin
dotnet/Blazorwasm/practice1/obj

dotnet/SQLite/bin
dotnet/SQLite/obj
dotnet/SQLite/.vscode

js/*/*/node_modules
js/*/*/package-lock.json