dotnet/HelloWorld/HelloWorld/obj
dotnet/HelloWorld/HelloWorld/bin
dotnet/HelloWorld/HelloWorld/.vscode
dotnet/MVC/practice1/WebCalculate/.vscode
dotnet/MVC/practice1/WebCalculate/bin
dotnet/MVC/practice1/WebCalculate/obj