<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
<h1>Numbers Generate</h1>
<form method="post" action="/numbers/generate" id="form_add" name="form_add">
    <input type="text" name="generate_number"/>
    <input type="submit" value="Generate Number"/>
</form>

<hr>
<h1>Numbers Generate</h1>
<form method="post" action="/numbers/guess" id="form_operate" name="form_operate">
    <input type="text" name="guess_number" />
    <input type="submit" value="Guess Number" />
</form>

</body>
</html>