<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    {% for item in users_list %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>